<div class="contact-page">
    <div class="container-page">
        <div class="row">
            <h1 class="text-xs-center">Contact</h1>

           <app-list-errors [errors]="errors"></app-list-errors>

            <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">

                    <fieldset class="form-group">
                      <input class="form-control"
                        type="text"
                        placeholder="Name"
                        formControlName="name" />
                    </fieldset>
        
                    <fieldset class="form-group">
                      <input class="form-control form-control-lg"
                        type="text"
                        placeholder="Email"
                        formControlName="email" />
                    </fieldset>
        
                    <fieldset class="form-group">
                      <textarea class="form-control form-control-lg"
                        rows="8"
                        placeholder="Reason..."
                        formControlName="reason">
                      </textarea>
                    </fieldset>
        
                    <button class="btn btn-lg btn-primary pull-xs-right"
                      [disabled]="!contactForm.valid"
                      type="submit">
                      Send Email
                    </button>
                    </fieldset>
             </form> 
        </div>
    </div>
</div>