<table class="players__list">
    <tr>
        <th>Ranking</th>
        <th>Player</th>
        <th>Level</th>
        <th>Honor</th>
        <th>Gold</th>
        <th>Guild</th>
        <th></th>
    </tr>
    <tr *ngFor="let players of results; let i = index">
        <td>{{((currentPage-1)*limit)+i+1}}</td>
        <td>{{players.playerName}}</td>
        <td>{{players.lvl}}</td>
        <td>{{players.honor}}</td>
        <td>{{players.gold}}</td>
        <td>{{players.guildList}}</td>
        <td><button [routerLink]="['/players', players.slug]">View more</button></td>
    </tr>
    <nav [hidden]="loading || totalPages.length <= 1">
        <ul class="pagination">
          <li class="page-item"
            [ngClass]="{'active': pageNumber === currentPage}"
            *ngFor="let pageNumber of totalPages"
            (click)="setPageTo(pageNumber)">
            <a class="page-link" >{{ pageNumber }}</a>
          </li>
        </ul>
      </nav>
</table>
<div class="player__list"
  [hidden]="!loading">
  Loading players...
</div>