.players__list{
    display:flex;
    justify-content: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.players__list th td{
    border: 1px solid #ddd;
    padding: 100px;
}

.players__list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.players__list td {
    padding-right: 30px;
    padding-left: 30px;
}

.players__list tr:nth-child(even){
    background-color: #f2f2f2;
}

.players__list tr:hover {
    background-color: #ddd;
}

