<div class="details-players-page">
<section class="player__info">
    <fieldset>
        <article class="player__info__personalInfo">
            <img class="player__info__photo" [src]="players.photo">
            <section>
                <h1>{{ players.playerName }} the {{ players.class }}</h1>
                <h1>Guild: {{players.guildList[0]}}</h1>
                <h3>Level: {{players.lvl}}</h3>
                <h4>Honor: {{players.honor}}</h4>
                <h4>Gold: {{players.gold}}<img class="player__info__coin" src="assets/moneda.png"></h4>
            </section>
        </article>
        <article class="player__info__stats">
            <table>
                <tr>
                    <td>
                        <label><strong>Str:</strong></label>
                    </td>
                    <td>
                        <label>{{players.str}}</label>
                    </td>
                    <td>
                        <button>+</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Dex:</strong></label>
                    </td>
                    <td>
                        <label>{{players.dex}}</label>
                    </td>
                    <td>
                        <button>+</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Int:</strong></label>
                    </td>
                    <td>
                        <label>{{players.int}}</label>
                    </td>
                    <td>
                        <button>+</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Con:</strong></label>
                    </td>
                    <td>
                        <label>{{players.con}}</label>
                    </td>
                    <td>
                        <button>+</button>
                    </td>
                </tr>
            </table>
        </article>
    </fieldset>
</section>

</div>