.player__info{
    display: flex;
    justify-content: center;
}

.player__info__personalInfo{
    display: flex;
    justify-content: center;
}
.player__info__photo{
    width: 200px;
    height: 200px;
}
.player__info__coin{
    width: 20px;
    height: 20px;
}
table{
    margin-top: 50px;
}
td{
    width: 200px;
}