<div class="join-page">
        <div class="container page">
          <div class="row">
      
            <div class="col-md-6 offset-md-3 col-xs-12">
              <h1 class="text-xs-center">{{ title }}</h1>
              <p class="text-xs-center">
                <a [routerLink]="['/join']" *ngIf="joinType == 'enroll'">Have an account?</a>
                <a [routerLink]="['/enroll']" *ngIf="joinType == 'join'">Need an account?</a>
              </p>
              <app-list-errors [errors]="errors"></app-list-errors>
              <form [formGroup]="joinForm" (ngSubmit)="submitForm()">
                <fieldset [disabled]="isSubmitting">
                  <fieldset class="form-group">
                    <input
                      formControlName="name"
                      placeholder="Name"
                      class="form-control form-control-lg"
                      type="text"
                      *ngIf="joinType == 'enroll'" />
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      formControlName="email"
                      placeholder="Email"
                      class="form-control form-control-lg"
                      type="text" />
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      formControlName="password"
                      placeholder="Password"
                      class="form-control form-control-lg"
                      type="password" />
                  </fieldset>
                  <fieldset class="form-group">
                        <select formControlName="class"
                        class="form-control"
                        *ngIf="joinType == 'enroll'">
                            <option name="classId" value="1" selected>Warrior</option>
                            <option name="classId" value="2">Archer</option>
                            <option name="classId" value="3">Wizard</option>
                        </select>
                    </fieldset>
                  <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!joinForm.valid" type="submit">
                    {{ title }}
                  </button>
                </fieldset>
              </form>
            </div>
      
          </div>
        </div>
      </div>