<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">Haverfall</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Haverfall
    </span>
  </div>
</footer>
