<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Haverfall</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/players"
          routerLinkActive="active">
          Players
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/join"
          routerLinkActive="active">
          Join
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/players"
          routerLinkActive="active">
          Players
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active">
          {{ currentPlayer.playerName }}
        </a>
      </li>
    </ul>

  </div>
</nav>
