<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Haverfall</h1>
    </div>
  </div>

  <div class="container page">
    <div class="row">


    </div>
  </div>
</div>
